@import "./variables.scss";
@import '../../node_modules/flatpickr/dist/flatpickr.min.css';

.top-container {
  background-color: #FEFEFF;
  min-height: 500px;
}

.category-card {
  background-color: #FEFEFF;
  height: 150px;
}
